{
  "extends": ["react-app", "react-app/jest", "plugin:prettier/recommended", "prettier"],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": ["warn", {
      "singleQuote": true,
      "printWidth": 100,
      "useTabs": false,
      "endOfLine": "auto",
      "trailingComma": "es5"
    }],
    "no-console": 1,
    "eqeqeq": 1
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "parser": "babel-eslint"
}
